<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>ToDo List</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ToDo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Главная</a>
                </li>
            </ul>
            <a th:if="${user.email == 'Гость'}" class="nav-item nav-link" th:href="@{/registrationPage}">Регистрация</a>
            <a class="nav-item nav-link" th:if="${user.email == 'Гость'}" th:href="@{/loginPage}">
                <span th:text="${user.email}"></span>
                <span> | Войти</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.email != 'Гость'}" th:href="@{/logout}">
                <span th:text="${user.email}"></span>
                <span> | Выйти</span>
            </a>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Новая задача
                </div>
                <div class="card-body">
                    <form th:if="${user.email != 'Гость'}" th:action="@{/newTask}" method="POST" th:object="${categories}">
                        <input type="hidden" name="id" value="0"/>
                        <label for="name">Название</label>
                        <input class="form-control mr-sm-2" type="text" name="name" id="name">
                        <label for="description">Описание</label>
                        <textarea class="form-control mr-sm-2" type="text" name="description" id="description"></textarea>
                        <div class="form-group">
                            <label for="catIds">Категории</label>
                            <select class="form-control" id="catIds" name="catIds" multiple="multiple">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id==1}"></option>
                            </select>
                        </div>
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>