<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>ToDo List</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ToDo List</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Главная</a>
                </li>
                <li class="nav-item" th:if="${user.email != 'Гость'}">
                    <a class="nav-link" th:href="@{/addPage}">Создать</a>
                </li>
            </ul>
            <a th:if="${user.email == 'Гость'}" class="nav-item nav-link" th:href="@{/registrationPage}">Регистрация</a>
            <a class="nav-item nav-link" th:if="${user.email == 'Гость'}" th:href="@{/loginPage}">
                <span th:text="${user.email}"></span>
                <span> | Войти</span>
            </a>
            <a class="nav-item nav-link" th:if="${user.email != 'Гость'}" th:href="@{/logout}">
                <span th:text="${user.email}"></span>
                <span> | Выйти</span>
            </a>
        </div>
    </nav>
    <div class="row">
        <div class="col">
            <div class="shadow card">
                <div class="card-body">
                    <span th:if="${!item.done}">
                                <span class="badge badge-primary">В процессе</span>
                    </span>
                    <span th:if="${item.done}">
                                <span class="badge badge-success">Выполнено</span>
                    </span>
                    <h5 class="card-title" th:text="${item.name}"/>
                    <p class="card-subtitle text-muted">
                        Автор
                        <span th:text="${item.user.email}"/>
                        Создано
                        <span th:text="${#dates.format(item.created, 'dd.MM.yyyy')}"/>
                    </p>
                    <p class="card-text" th:text="${item.description}"/>
                    <form  th:action="@{|/doneTask/${item.id}|}" method="GET">
                        <span th:if="${!item.done}">
                            <button type="submit" class="btn btn-outline-success">Завершить</button>
                        </span>
                        <button type="submit" class="btn btn-outline-warning" th:formaction="@{|/editTask/${item.id}|}">Редактировать</button>
                        <button type="submit" class="btn btn-outline-danger" th:formaction="@{|/deleteTask/${item.id}|}">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>